doctype html

html
  head
    meta(charset='utf-8')
    title Trendy

    script(src="/public/components/webcomponentsjs/webcomponents.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js")
    script(src="/public/client.js")

    link(rel="import", href="/public/card.html")

  body
    each url in urls
      my-card
        .shares #{url.share_count}
        .url.truncate
          a(href="#{url.url}")
            !{url.title || url.url}
