doctype html

html
  head
    title Trendy

    script(src="/public/components/webcomponentsjs/webcomponents.min.js")

    link(rel="import", href="/public/card.html")

  body
    each url in urls
      my-card
        .shares #{url.share_count}
        .url.truncate
          a(href="#{url.url}") #{url.title || url.url}
