doctype html

html
  head
    title Trendy

    script(src="/public/components/webcomponentsjs/webcomponents.min.js")

    link(rel="import", href="/public/card.html")

    link(rel="stylesheet", href="/public/trendy.css")

  body
    each url in urls
      my-card
        .url
          a(href="#{url.url}") #{url.title}
        .shares #{url.share_count}
